<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/clientes"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <div class="photo-container">
        <img [src]="cliente.foto ? cliente.foto : './assets/avatars/FotoCamara.png'" class="profile-photo"
          alt="Foto del cliente">
      </div>
      <ion-button (click)="addFoto()" expand="block" fill="clear">
        Cambiar foto
      </ion-button>
    </ion-col>
  </ion-row>

  <form #fEditarCliente="ngForm" (ngSubmit)="guardarCliente(fEditarCliente)">
    <ion-item lines="inset">
      <ion-label position="fixed">Nombre</ion-label>
      <ion-input name="nombre" type="text" [(ngModel)]="cliente.nombre" required
        pattern="([A-Za-zñÑáéíóúÁÉÍÓÚ\s]{2,25})" autocapitalize="words"></ion-input>
    </ion-item>
    <ion-item lines="inset">
      <ion-label position="fixed">Apellidos</ion-label>
      <ion-input name="apellido" type="text" [(ngModel)]="cliente.apellido" autocapitalize="words"></ion-input>
    </ion-item>
    <ion-item lines="inset">
      <ion-label position="fixed">Número</ion-label>
      <ion-input name="telefono" type="tel" [(ngModel)]="cliente.telefono"></ion-input>
    </ion-item>
    <ion-item lines="inset">
      <ion-label position="fixed">Correo</ion-label>
      <ion-input name="correo" type="email" [(ngModel)]="cliente.correo"
        pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$"></ion-input>
    </ion-item>
    <ion-item lines="inset">
      <ion-label position="fixed">Dirección</ion-label>
      <ion-input name="direccion" type="text" [(ngModel)]="cliente.direccion"
        pattern="^[A-Za-z0-9ñÑáéíóúÁÉÍÓÚ\s\.,#-]{2,100}$"></ion-input>
    </ion-item>

    <div class="ion-padding">
      <ion-button type="submit" expand="block" shape="round">
        Guardar Cambios
      </ion-button>
    </div>
  </form>
</ion-content>