h2 {
    font-weight: 500;
    font-size: 20px;
}

h5 {
    font-weight: 500;
    font-size: 15px;
}

ion-item {
    --min-height: 96px;
    --detail-icon-font-size: 30px;
    --border-color: transparent;
}

ion-searchbar {
    padding-left: 20px;
    padding-right: 20px;
    height: 90px;
}

ion-title {
    font-size: 22px;
}

ion-avatar { 
    width: 75px;  
    height: 75px;  
}

ion-fab-button {
    width: 64px;
    height: 64px;    
}

ion-icon {
    font-size: 26px;
}

@media screen and (min-width: 350px) {
    ion-fab-button {
        width: 74px;
        height: 74px;    
    }

    ion-icon {
        font-size: 30px;
    }
}


.danger {
    color: #EB445A;
}
.warning {
    color: #FFC409;
}
.success {
    color: #2DD36F;
}

